@import url("https://fonts.googleapis.com/css2?family=Rye&family=Smokum&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("./farm.png");
  background-position: center;
  color: #f5f6f8;
  font-family: "Smokum", cursive;
  overflow: hidden;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.header {
  font-size: 5rem;
  cursor: default;
  color: #f5f6f8;
  padding: 1rem;
  border: 5px solid #050a06;
  border-radius: 10px;
  background-color: #c3262f;
  background-size: 20px 20px;
  background-image: repeating-linear-gradient(0deg, #050a06, #050a06 2px, #c3262f 2px, #c3262f);
}

.board-container {
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem 0;
}

.placement-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Rye", cursive;
}

.placement-text {
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f5f6f8;
  color: #050a06;
  padding: 1rem;
  border-radius: 10px;
}

.ship-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destroyer-container {
  height: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: -webkit-grab;
  cursor: grab;
}

.submarine-container,
.cruiser-container,
.battleship-container,
.carrier-container {
  height: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: -webkit-grab;
  cursor: grab;
  display: none;
}

.rotate {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.destroyer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 25px;
  background-image: url("https://img.icons8.com/plasticine/25/000000/sheep.png");
}

.destroyer-clone {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 25px;
  background-image: url("https://img.icons8.com/plasticine/25/000000/sheep.png");
}

.submarine {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 75px;
  height: 25px;
  background-image: url("https://img.icons8.com/plasticine/25/000000/sheep.png");
}

.submarine-clone {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 75px;
  height: 25px;
  background-image: url("https://img.icons8.com/plasticine/25/000000/sheep.png");
}

.cruiser {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 75px;
  height: 25px;
  background-image: url("https://img.icons8.com/plasticine/25/000000/sheep.png");
}

.cruiser-clone {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 75px;
  height: 25px;
  background-image: url("https://img.icons8.com/plasticine/25/000000/sheep.png");
}

.battleship {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 25px;
  background-image: url("https://img.icons8.com/plasticine/25/000000/sheep.png");
}

.battleship-clone {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 25px;
  background-image: url("https://img.icons8.com/plasticine/25/000000/sheep.png");
}

.carrier {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 125px;
  height: 25px;
  background-image: url("https://img.icons8.com/plasticine/25/000000/sheep.png");
}

.carrier-clone {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 125px;
  height: 25px;
  background-image: url("https://img.icons8.com/plasticine/25/000000/sheep.png");
}

.player-gameboard-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.player-gameboard {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.computer-gameboard-container {
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.computer-gameboard {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.player0,
.player1,
.player2,
.player3,
.player4,
.player5,
.player6,
.player7,
.player8,
.player9,
.computer0,
.computer1,
.computer2,
.computer3,
.computer4,
.computer5,
.computer6,
.computer7,
.computer8,
.computer9 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.player-cell {
  width: 25px;
  height: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.computer-cell {
  width: 25px;
  height: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.computer-cell:hover {
  border: 1px solid seashell;
}

.clone-container {
  width: 110px;
  height: 200px;
  background-color: #68a944;
  position: fixed;
  top: 900px;
  left: 0;
}

.destroyer-clone,
.submarine-clone,
.cruiser-clone,
.cruiser-clone,
.battleship-clone,
.carrier-clone {
  position: fixed;
  top: 1000px;
  left: 0;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.attack-container {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  color: #050a06;
  padding-top: 1rem;
}

.attack {
  font-size: 2rem;
  background-color: #f5f6f8;
  color: #050a06;
  padding: 1rem;
  border-radius: 10px;
}

footer {
  font-size: 0.5rem;
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer-right {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.github-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
  text-decoration: none;
  color: 050a06;
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  font-size: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  cursor: default;
  display: none;
  font-family: "Rye", cursive;
}

.modal {
  color: #f5f6f8;
  max-width: 100%;
  font-weight: 900;
  cursor: default;
}

.modal-container.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: auto;
}
/*# sourceMappingURL=style.css.map */